<div class="top-row navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <span class="oi oi-cpu" aria-hidden="true"></span> GameStore AI
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="utenti">
                <span class="oi oi-people" aria-hidden="true"></span> Utenti
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="giochi">
                <span class="oi oi-monitor" aria-hidden="true"></span> Giochi
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="acquisti">
                <span class="oi oi-cart" aria-hidden="true"></span> Acquisti
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="recensioni">
                <span class="oi oi-star" aria-hidden="true"></span> Recensioni
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
